.advantages {
    margin-top: 20px;
    &__content{
        width: 100%;
        padding: 30px 130px 0 100px;
    }
    &__title {
        @include topLine;
        @include title;
    }
    &__text {
        margin-top: 17px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;

        color: #3A4959;

        max-width: 580px;
        margin-bottom: 43px;
    }
    &__cards {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card {
        margin:0 0 50px 30px ;
        width: 410px;
        height: 145px;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
        border-radius: 10px;
    }
    &__card-title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;


        color: #3A4959;

        margin: 0;
        padding: 30px 0 10px 60px;
    }
    &__card-text {
        @include CommonText(16px, 24px);

        margin: 0 20px 0 60px;
    }
    &__card-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -40px;
    }
}