@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=cyrillic');

body {
  font-family: 'Open Sans', sans-serif;
  background: #F5FAFF !important;
  width: 100%;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  box-sizing: content-box;
  @media(max-width: 1200px) {
    box-sizing: border-box;
    padding: 0 20px;
  }
}

@mixin buttonMove($color) {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color;
    &:hover {
      transform: scale(1.05);
      text-decoration: none;
      color: $color;
    }
    &:active {
      transform: scale(0.95);
    }
    &:focus {
      outline: none;
    }
}

@mixin mainTitle {
  margin-bottom: 27px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 67px;
  letter-spacing: 1px;

  color: #3A4959;
  @media(max-width: 950px){
    font-size: 32px;
    line-height: 38px;
  }
  @media(max-width: 650px){
  font-size: 28px;
  line-height: 32px;
  }
}

@mixin title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 1px;

  color: #3A4959;
  @media(max-width: 1100px){
    font-size: 32px;
    line-height: 38px;
  }
  @media(max-width: 650px){
    font-size: 22px;
    line-height: 25px;
  }  
}
@mixin topLine {
  position: relative;
  padding-top: 37px;
  &::before{
    position: absolute;
    top: 0;
    content: "";
    border-radius: 10px;
    border:  2.5px solid #056CDE;
    width: 110px;
  }
  @media(max-width: 1100px){
    padding-top: 20px;
    
  }
}

@mixin CommonText($size, $line) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $line;
  color: #3A4959;
  @media(max-width: 500px){
    @if $size == 18px {font-size: 15px;}
    @else {font-size: 14px;}
    @if $line == 29px {line-height: 25px;}
    @else{line-height: 21px;}
  }
}
