.contact-us-today {
    margin-top: 123px;
    &__component {
        position: relative;
        background: #FFCE51;
        border-radius: 10px 10px 0px 0px;
        padding-bottom: 73px;
    }
    &__content  {
        width: 580px;
        margin: 0 auto;
    }
    &__mail-img {
        position: absolute;
        left: 40px;
        top: -25px;
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 58px;
        line-height: 67px;

        letter-spacing: 1px;

        color: #3A4959;
        padding: 60px 0 13px 0;
    }
    &__text {
        @include CommonText(18px, 29px);
    }
    &__phone {

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;

        letter-spacing: 1px;
        text-transform: uppercase;

        color: #3A4959;

        padding: 6px 0 30px 0;
    }
    &__button {
        @include buttonMove(#FFFFFF);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        width: 310px;
        height: 50px;
        background: #056CDE;
        border-radius: 10px;
        margin-top: -7px;
        border: none;
    }
}
