.dr-osvaldo {
    margin-top: 61px;
    &__content {
        display: flex;
    }
    &__img-container {
        width: 50%;
        
    }
    &__img {
        width: calc(100% - 40px);
    }
    &__article {
        max-width: 580px;
        padding-top: 30px;
        margin-left: 10px;
    }
    &__article-title {
        @include topLine;
        @include title;
        padding-bottom: 11px;
    }
    &__article-text {
        @include CommonText(18px, 29px);
    }
    &__button {
        display: none;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;

        text-transform: uppercase;

        color: #056CDE;
    }
}