.footer {
    margin: 62px 0 60px 0;

    &__button {
        @include buttonMove(#3A4959);
        cursor: pointer;
        background: #FFCE51;
        border-radius: 10px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;

        width: 210px;
        height: 40px;
    }
    &__phone {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 23px;


        color: #3A4959;
    }

    &__row {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;

        color: #3A4959;
    }
    &__button-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 390px;
    }
    &__colum {
        &_1 {
            max-width: 230px;
        }
    }
    &__text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;


        color: #3A4959;
    }
    &__shedule {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__points {
        text-align: right;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;

        color: #3A4959;
    }
}