@mixin buttonHeader {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #3A4959;
  background: #FFCE51;
  border-radius: 10px;
  border: none;
  outline: none; 
}

.header {
  padding: 38px 0;
  width: 100%;
  &__checkbox {
    user-select: none;
    margin-top: -23px;
    font-weight: 100;
    transition: 3s;
    z-index: 4;
    display: none;
    cursor: pointer;
  }
  &__line {
    font-size: 80px;
    line-height: 8px;
    color: #056CDE;
    &_active {
      &:nth-child(1){
        transition: .7s;
        transform: rotate(45deg) translate(15px, 0);
      }
      &:nth-child(2) {
        visibility: hidden;
      }
      &:nth-child(3) {
        transition: .7s;
        transform: rotate(-45deg) translate(2px, -5px);
      }
    }
    &_2 {
      transition: .7s;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content-hed{
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 230px;
    height: 70px;
    background: url('./img/logo.png') no-repeat left;
    margin-right: 45px; 
    z-index: 4;
  }
  
  &__call-back{
    display: flex;
  }
  &__phone{
    margin-right: 1px;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #3A4959;
  }
  &__box {
    margin-left: 27px;
    margin-bottom: 9px;
  }
  &__button{
    margin-bottom: 7px;
    margin-right: 0px;
    margin-left: 30px;
    
    @include buttonHeader();
    @include buttonMove(#3A4959); 
    width: 210px;
    height: 40px;
  }
}

.header-menu {
  text-align: center;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:0;
  overflow:hidden;
  transition: 1s;
  &_active {
    background: #D5E9FF;
    transition: 1s;
    height:100vh;
  }
  &__button{
    @include buttonHeader();
    @include buttonMove(#3A4959);
    cursor: pointer;
    width: 280px;
    height: 40px;
    margin: 35px auto;
  }
  
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 95px auto 0 auto;  
  }
  &__link {
    text-align: center;
    margin: 15px;
  }
  &__link-item{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;

    color: #3A4959; 
    
    &:hover {
      color: #3A4959; 
      text-decoration: none;
    }
  }
}