.main-about{
    padding: 4px 0 60px 0;
    
    &__content{
        display: flex;
        position: relative;
    }

    &__article{
        z-index: 1;
        margin-left: 100px;
        padding-top: 30px;
        max-width: 520px;
    }
    
    &__title{
        @include topLine;
        @include mainTitle;
    }
    
    &__text{
        @include CommonText(18px, 29px);
        margin-bottom: 4px;
    }

    &__button{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
        width: 310px;
        height: 50px;
        background: #056CDE;
        border-radius: 10px;  
        margin-top: 30px;
        
        @include buttonMove(#FFFFFF);
    }
    
    &__net-links-box{
        margin-top: 106px;
        width: 150px;
        display: flex;
        justify-content: space-around;
    }
        
    &__imge {
        height: 100%;
        position: relative;
        z-index: 0;
        width: 54%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        img {
            z-index: 1;
            position: absolute;
            top: -11px;
            right: 184px;
        }
    }
    
     &__shadow {
         position: absolute;
         bottom: -150px;
        width: 432px;
        height: 59.68px;
        background: radial-gradient(200px 20px at 50% 50%,rgba(20, 71, 127, 0.08) 0%, rgba(85, 120, 152, 0) 100%);
    }

    &__shadow_2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 226px;
        height: 31px;
        background: radial-gradient(100px 10px at 50% 50%,rgba(20, 71, 127, 0.08) 0%, rgba(85, 120, 152, 0) 100%);
    }
}
