    .map {
        position: relative;
        &__window {
            max-width: 1180px;
            height: 440px;
            border-radius: 0px 0px 10px 10px;
            margin: 0 auto;
            padding: 0;
            box-sizing: content-box;
        }
    }
    .get {
        transition: 0.5s;
        &:hover{
            transform: scale(1.05) translate(50%, 0);
        }
        &:active {
            transform: scale(0.95) translate(50%, 0);
        }
        cursor: pointer;
        position: absolute;
        bottom: 30px;
        right: 50%;
        transform: translate(50%,0);
        display: none;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;

        color: #3A4959;
        background: #FFCE51;
        border-radius: 10px;
        width: 240px;
        height: 40px;
        align-items: center;
        justify-content: center;
    }
    