.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-link{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        cursor: pointer;

        text-transform: uppercase;

        color: #3A4959;
        &:hover {
            text-decoration: none;
            transition: 0.5s;
        }
    }
}