.services {
    padding-top: 32px;
    &__cards {
        display: flex;
    } 
    &__content {
        width: 100%;
        padding: 30px 130px 0 100px;
    }
    &__title {
        @include topLine();
        @include title;
        margin-bottom: 40px;
    }
    .center {
        margin-top: 154px;
        margin-left: 50px;
    }
    &__card-box {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    &__card {
        margin-bottom: 50px;
        border-radius: 10px;
        width: 450px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    }   
    &__img{
        @for $i from 1 through 3 {
            &_#{$i} {
                border-radius: 10px 10px 0 0; 
                height: 200px;
            }
        }
    }
    &__card-title {
        padding: 30px 70px 0 40px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        letter-spacing: 1px;

        color: #3A4959;
    }
    &__card-text {
        @include CommonText(16px, 24px);
        
        padding: 0 70px 0 40px;
        height: 105px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 12px;
    }
    &__links {
        padding: 0px 50px 0 40px; 
        margin-top: -5px;   

        height: 92px;       
    }
    &__link-item {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 28px;
        text-transform: uppercase;

        color: #056CDE;
        margin-right:16px;
        &:hover {
            color: #056CDE;
            text-decoration: none;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}