.testimonials {
    overflow: hidden;
    position: relative;
    margin-top: 88px;
    &__slide-star {
        margin-right: 2.5px;
    }
    svg {
        position: absolute;
        top: 50%;
        left: 0;
    }
    &__content {
        position: relative;
        margin: 0 120px 0 100px;
    }
    &__img {
        position: absolute;
        left: 0px;
    }
    &__title {
        @include topLine;
        @include title;
        margin-bottom: 39px;
    }
    &__slider-window {
        margin-left: 200px;
        position: relative;
        overflow: hidden;
    }
    &__slider {
        display: flex;
        transition: 2s; 
    }
    &__slide-rating {
        margin: 37px 0 20px 42px;
    }
    &__text {
        @include CommonText(16px, 26px);

        padding: 0 40px;
        max-height: 157px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
    }
    &__slide-show-more {

        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;

        text-transform: uppercase;

        color: #056CDE;
        cursor: pointer;

        padding: 10px 0 0 40px;
        &_none {
            display: none;
        }
    }
    &__slide-author{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 29px;


        color: #3A4959;

        padding-left: 40px;
        padding-bottom: 34px;
        margin-top: 20px;
    }
    &__slider-menu{
        margin: 40px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    &__slider-points {
        display: flex;
    }
    &__slider-slide {
        
        min-width: 360px;
        margin-right: 40px;
        background: #D5E9FF;
        box-shadow: 0px 0px 20px rgba(118, 157, 202, 0.15);
        border-radius: 10px;
    }
    &__slider-point_disabled {
        cursor: pointer;
        border-radius: 100%;
        margin: 5px;
        width: 8px;
        height: 8px;
        background: rgba(5, 108, 222, 0.5);
    }
    &__slider-point_enabled {
        cursor: pointer;
        border-radius: 100%;
        margin: 5px;
        width: 8px;
        height: 8px;
        background: #056CDE;
    }
    @mixin button(){
        width: 28px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
    }
    &__slider-next_enabled {
        @include button();
        background-image: url('./img/arrow_active.png');
    }
    &__slider-previous_enabled {
        @include button();
        background-image: url('./img/arrow_active.png');
        transform: rotate(-180deg);
    }
    &__slider-next_disabled {
        @include button();
        background-image: url('./img/arrow_no_active.png');
        transform: rotate(-180deg);
    }
    &__slider-previous_disabled {
        @include button();
        background-image: url('./img/arrow_no_active.png');
    }
}
