.treatment{
    overflow: hidden;
    padding: 70px 0 40px 0; 
    position: relative;
    svg {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__content{
        display: flex;
    }
    &__img-container{
        margin-top: 5px;
        min-width: 540px;
        .img{
            width: 100%;
        }
    }
}
.article{
    padding-top: 86px;
    margin-left: 60px;
    &__title{
        @include topLine;
        @include title;
        margin-bottom: 18px;
    }
    &__text{
        @include CommonText(18px, 29px);
        margin-bottom: 34px;
    }
    &__button{
        @include buttonMove(#3A4959);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;

        width: 210px;
        height: 40px;
        color: #3A4959;
        background: #FFCE51;
        border-radius: 10px;
        border: none;
    } 
}