.body {
  position: relative;
  overflow-x: hidden;
  .bg1 {
    position: absolute;
    top: 775px;
    left: 0;
    z-index: -1;
  }
  .bg2 {
    position: absolute;
    right: 0;
    top: 2082px;
    z-index: -1;
  }
  .bg3 {
    position: absolute;
    top: 3569px;
    left: 0;
    z-index: -1;
  }
}

@media(max-width:650px){
  .body {
    .bg1 {
      display: none;
    }
    .bg2 {
      display: none;
    }
    .bg3 {
      display: none;
    }
  }
}