@media(max-width: 1200px){
    .advantages{
        &__content {
            padding: 30px 0 0 0;
            width: 100%;
        }
        &__cards {
            justify-content: center;
        }
    }
}

@media(max-width: 850px){
    .advantages{
        &__content {
            padding: 30px 0 0 0;
            width: 100%;
        }
    }
}

@media(max-width: 500px){
    .advantages{
        &__content {
            padding-top: 20px;
        }
        &__text {
            display: none;
        }
        &__cards {
            margin-top: 25px;
            margin-left: 0;
        }
        &__card {
            background-color: transparent;
            box-shadow: 0 0 0 transparent;
            width: 280px;
            height: 65px;
            margin-left: 0;
            margin-bottom: 32px;
        }
        &__card-title {
            font-size: 14px;
            line-height: 17px;
            padding-right: 0;
            padding-top: 2px;
            padding-bottom: 5px;
            padding-left: 70px;
        }
        &__card-text {
            margin-right: 0;
            margin-left: 70px;
        }
        &__card-img {
            left: -0px;
            right: 50%;
            transform: translate(0, -50%);
            width: 45px;
            height: 40px;
        }
    }
}