
@media (max-width:650px) {
    .contact-us-today {
        margin: 69px 0 0 0;
        &__mail-img {
            width: 112px;
            height: 56px;
        }
        &__title{
            font-size: 40px;
            padding-bottom: 0;
        }
        &__content{
            margin: 0 20px;
            width: calc(100% - 40px);
            text-align: center;
        }
        &__button {
            width: 250px;
            height: 45px;
        }
        &__phone {
            font-size: 20px;
        }
        &__text {
            display: none;
        }
    }
}
@media (max-width:480px) {
    .contact-us-today {
        &__component {
            padding-bottom: 40px;
        }
        &__title {
            text-align: left;
            font-size: 28px;
            line-height: 32px;
        }
        &__phone {
            padding-bottom: 0;
            text-align: left;
            margin: 20px 0;
            font-size: 18px;
            line-height: 21px;
        }
        &__button {
            width: 240px;
            height: 40px;
            font-size: 13px;
            line-height: 18px;
        }
    }
}