@media(max-width: 830px){
    .dr-osvaldo {
        &__content{
            flex-direction: column;
            align-items: center;
        }
        &__article {
            margin-left: 0; 
            max-width: 100%;
        }
        &__img-container {
            text-align: center;
            width: 100%;
        }
        &__img {
            width: 370px;
        }
    }
}

@media(max-width: 650px){
    .dr-osvaldo {
        margin-top: 20px;
        &__img {
            width: 280px;
        }

        &__article {
            padding-top: 22px;
        }

        &__article-title {
            margin-bottom: 0;
        }

        &__article-text {
            padding-top: 7px;
            max-height: 55px;
            overflow: hidden;
        }

        &__button {
            
            &_active {
                display: block;
            }
        }
    }
}

@media(max-width: 400px){
    .dr-osvaldo {
        &__article-text {
            max-height: 99px;
        }
    }
}