@media(max-width: 1050px){
    .footer {
        &__shedule {
            padding-top: 0;
        }
        &__points {
            text-align: left;
        }
        &__colum {
            margin: 15px 10px 15px 0;
        }
    }
}

@media(max-width: 746px){
    .footer {
        margin-top: 60px;
        &__button {
            margin: 30px 0 0px 0;
        }
        &__phone {
            margin: 15px 0 0 0;
        }
    }
}
@media(max-width: 650px){
    .footer {
        margin-top: 55px;
        &__button {
            width: 280px;
            height: 40px;
            font-size: 13px;
            line-height: 18px;
        }
        &__phone {
            font-size: 14px;
            line-height: 21px;
        }
        &__row {
            font-size: 14px;
            line-height: 21px;
        }
        &__text {
            font-size: 14px;
            line-height: 21px;
        }   
        &__points {
            font-size: 13px;
            line-height: 21px;
        }
    }
}


@media(max-width: 404px){
    .footer {
        .nav {
            padding-bottom: 20px;
        }
    }
}