@media(max-width: 1200px) {
    .header {
        .container{
            box-sizing: border-box;
            padding: 0 20px;
        }
    }
}

@media(max-width: 1050px) {
    .header {
        &__call-back {
            display: none;
        }
    }
}

@media(max-width: 660px) {
    .header {
        padding: 25px 0;
        &__checkbox {
            display: block;
        }
        &__box {
            display: none;
        }
    }
}

@media(max-width: 400px) {
    .header {
        padding: 15px 0;
        &__logo {
            width: 132px;
            height: 39px;
            background-size: contain;
        }
    }
}