@media(max-width: 1100px) { 
    .main-about{
        &__article{
            margin-left: 0;
        }
    }
}
@media(max-width: 1000px) { 
    .main-about{
        height: 640px;
        &__article{
            position: absolute;
            top: 150px;
            margin-left: 0;
        }
        &__imge {
            position: absolute;
            top: 0;
            right: 0;
            height: 400px;
            img {
                left: 90px;
                width: 200px;
                object-fit: contain;
            }
        }
        &__net-links-box {
            margin-top: 10px;
        }
        
        &__shadow {
            bottom: -50px;
            background: radial-gradient(150px 15px at 50% 50%,rgba(20, 71, 127, 0.08) 0%, rgba(85, 120, 152, 0) 100%);
            
        }

        &__shadow_2 {
            background: radial-gradient(75px 7px at 50% 50%,rgba(20, 71, 127, 0.08) 0%, rgba(85, 120, 152, 0) 100%);
        }
    }
}

@media(max-width: 830px) { 
    .main-about{
        &__article{
            position: absolute;
            top: 150px;
            margin-left: 0;
        }
        &__imge {
            position: absolute;
            top: 0;
            right: 0;
            height: 400px;
            img {
                left: 15%;
                width: 200px;
                object-fit: contain;
            }
        }
    }
}

@media(max-width: 660px) { 
    .main-about{
        margin-top: 70px;
        padding-bottom: 25px;
        height: auto;
        &__title {
            margin-bottom: 10px;
        }
        &__article{
            position: static;
            width: 100%;
        }
        &__button {
            margin-top: 15px;
            font-size: 13px;
            line-height: 18px;
            width: 280px;
            height: 40px;
        }
        &__net-links-box{
            display: none;   
        }
        &__imge {
            width: 244px;
            height: 220px;
            position: absolute;
            top: -100px;
            right: -80px;
            height: 400px;
            img {
                left: 50%;
                transform: translate(-50%,25%);
                width: 87.64px;
                height: 145.76px;
                object-fit: contain;
            }
        }
        &__shadow {
            top: 160px;
            background: radial-gradient(75px 7px at 50% 50%,rgba(20, 71, 127, 0.08) 0%, rgba(85, 120, 152, 0) 100%);
        }

        &__shadow_2 {
            background: radial-gradient(40px 4px at 50% 50%,rgba(20, 71, 127, 0.08) 0%, rgba(85, 120, 152, 0) 100%);
        }
    }
}
