@media(max-width: 1200px) {
    .services {
        &__content {
            padding: 30px 0 0 0;
        }
        &__cards-box {
            display: flex;
            justify-content: center;
        }
        &__card {
            margin: 10px;
        }
    }
}

@media(max-width: 995px) {
    .services {
        &__content {
            padding: 30px 0 0 0;
        }
        &__cards {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__card {
            margin: 10px;
        }
        &__card-box {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .center {
            margin: 0;
        }
    }
}

@media(max-width: 500px) {
    .services {
        padding-top: 0;
        &__title {
            margin-bottom: 17px;
        }
        &__content {
        }
        &__cards {
        }
        &__img {
            @for $i from 1 through 3 {
                &_#{$i} {
                    height: 100px;
                    width: 280px;
                }
            } 
        }
        &__card {
            width: 280px;
            padding-bottom: 6px;
        }
        &__card-text {
            max-height: 0;
            overflow: hidden;
            margin-bottom: 0;
            transition: 1s;
            padding: 0 20px;
            &_active {
                max-height: 400px;
            }
        }
        &__card-title {
            padding: 13px 0 0 20px;
            font-size: 18px;
            line-height: 21px;
            color: #056CDE;
        }
        &__links {
            display: none;
        }
        &__card-box {
        }
    }
}