
@media(max-width:1201px){
    .testimonials{
        &__slider-window {
            width: 760px;
            margin: 0 auto;
        }
    }
}

@media(max-width:1000px){
    .testimonials{
        &__content {
            position: relative;
            margin: 0;
        }
    }
}

@media(max-width:850px){
    .testimonials{
        margin-top: 43px;
        &__slider-window {
            width: 360px;
        }
        &__content {
            position: relative;
            margin: 0;
        }
    }
}

@media(max-width:500px){
    .testimonials{
        padding-top: 7px;
        &__title {
            margin-bottom: 25px;
        }
        &__slider-window {
            width: 280px;
        }
        &__slider-menu {
            margin-top: 20px;
        }
        &__slide-rating {
            margin-top: 20px;
            margin-left: 22px;
        }
        &__slider-slide {
            min-width: 280px;
        }
        &__slide-show-more {
            padding-left: 22px;
        }
        &__slide-author {
            padding-left: 22px;
            margin-top: 5px;
            padding-bottom: 22px;
        }
        &__text {
            padding-left: 22px;
            padding-right: 22px;
            max-height: 150px;
            margin-bottom: 0;   
        }
        &__content {
            position: relative;
            margin: 0;
        }
        &__slider-next_enabled {
            display: none;
        }
        &__slider-previous_enabled {
            display: none;
        }
        &__slider-next_disabled {
            display: none;
        }
        &__slider-previous_disabled {
            display: none;
        }
        &__slider-menu {
            justify-content: center;
        }
    }
}