@media(max-width: 900px) {
    .treatment{
        &__content {
            padding: 0 20px;
            flex-direction: column;
            align-items: center;
            
        }
        &__img-container{
            width: 370px;
            margin-right: 0;
            .img{
                width: 100%;
            }
        }
    }    
    article {
        margin-left: 0;
        width: 100%;
    }
}

@media(max-width: 660px) {
    .treatment{
        display: none;
    }    
}