<div class="advantages">
    <div class="container">
        <div class="advantages__content">
            <h2 class="advantages__title">Advantages</h2>
            <p class="advantages__text">Healthy Spine Family Chiropractic was created for the necessity of custom made
                chiropractic treatment for all ages.</p>
            <div class="advantages__cards">
                <div class="advantages__card">
                    <img data-src="./img/advantages_1.png" alt="advantages_1" class="advantages__card-img">
                    <h3 class="advantages__card-title">
                        Multi Disciplinary Practice
                    </h3>
                    <p class="advantages__card-text">
                        We offer chiropractic, massage and acupuncture.
                    </p>
                </div>
                <div class="advantages__card">
                    <img data-src="./img/advantages_2.png" alt="advantages_2" class="advantages__card-img">
                    <h3 class="advantages__card-title">
                            The Doctor Speaks Spanish
                    </h3>
                    <p class="advantages__card-text">
                            We strive to provide complete care for our patients. We speak English and Spanish.
                    </p>
                </div>
                <div class="advantages__card">
                    <img data-src="./img/advantages_3.png" alt="advantages_3" class="advantages__card-img">
                    <h3 class="advantages__card-title">
                            Over 10 Years of Experience
                    </h3>
                    <p class="advantages__card-text">
                            The Doctor has 10+ years of experience in the chiropractic.
                    </p>
                </div>
                <div class="advantages__card">
                    <img data-src="./img/advantages_4.png" alt="advantages_4" class="advantages__card-img">
                    <h3 class="advantages__card-title">
                            Insurance
                    </h3>
                    <p class="advantages__card-text">
                            We accept most insurance and file the claims for you.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>