<div class="contact-us-today">
    <div class="container ">
        <div class="contact-us-today__component">
            <img data-src="./img/mail.png" alt="mail" class="contact-us-today__mail-img">
            <div class="contact-us-today__content">
                <h3 class="contact-us-today__title">Contact Us Today</h3>
                <p class="contact-us-today__text">We are happy to assist you with any questions you may have regarding
                    your chiropractic needs or insurance
                    questions. You can make an appointment online or by giving us a call at</p>
                <h4 class="contact-us-today__phone">(303) 457-2040</h4>
                <a href="#" class="contact-us-today__button">Make an Appointment</a>
            </div>
        </div>
    </div>
</div>