<div class="dr-osvaldo">
    <div class="container">
        <div class="dr-osvaldo__content">
            <div class="dr-osvaldo__img-container">
                <img class="dr-osvaldo__img"  alt="Dr. Osvaldo" data-src="./img/dr_osvaldo.png">
            </div>
            <div class="dr-osvaldo__article">
                <h2 class="dr-osvaldo__article-title">
                    Dr. Osvaldo «Ozzie» Gratacos
                </h2>
                <p class="dr-osvaldo__article-text dr-osvaldo__article-text_js">
                    Dr. Osvaldo “Ozzie” Gratacos is a licensed chiropractor serving the Thornton and surrounding
                    communities. Dr. Gratacos graduated from Palmer College of Chiropractic in Florida. After
                    graduating, Dr. Gratacos went back to his home in Puerto Rico to open a practice for 4 years before
                    practicing in Lakewood, Colorado. He is bilingual (spanish/english). Ozzie is certified in extremity
                    adjustments, treatment in golf related injuries, and Cox technique for herniated disc.
                </p>
                <div class="dr-osvaldo__button dr-osvaldo__button_js dr-osvaldo__button_active">
                    View more
                </div>
            </div>
        </div>
    </div>
</div>