<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__contacts">
                @@include('../components/nav.html')
                <div class="footer__button-box">
                    @@include('./net-links.html')
                    <a href="#" class="footer__button">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="footer__shedule">
                <div class="footer__colum footer__colum_1">
                    <h3 class="footer__phone">(303) 457-2040</h3>
                    <div class="footer__row">
                        10313 Washington St., Thornton, CO 80229
                    </div>
                </div>
                <div class="footer__colum footer__colum_2">
                    <div class="footer__text">
                        Monday, Wednesday, Thursday — 9:00 AM - 6:00 PM
                    </div>
                    <div class="footer__text">
                        Friday — 9:00 AM - 1:00 PM
                    </div>
                    <div class="footer__text">
                        Saturday — 10:00 AM - 1:00 PM
                    </div>
                </div>
                <div class="footer__colum footer__colum_3">
                    <div class="footer__points">
                        Company rating:
                        <img data-src="./img/star.png" alt="star">
                        <img data-src="./img/star.png" alt="star">
                        <img data-src="./img/star.png" alt="star">
                        <img data-src="./img/star.png" alt="star">
                        <img data-src="./img/star.png" alt="star">
                    </div>
                    <div class="footer__points">
                        © Copyright — Healthy Spine Family Chiropractic 2019
                    </div>
                    <div class="footer__points">
                        Web Design — Direct Line Development
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>