<div class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__content-hed">
        <div class="header__logo"></div>
        <div class="header__box">
          @@include('./nav.html')
        </div>
      </div>
      <div class="header__call-back">
        <h3 class="header__phone">
          (303) 457-2040
        </h3>
        <a href="#" class="header__button">
          SCHEDULE APPOINTMENT
        </a>
      </div>

      <div class="header__checkbox header__checkbox_js">
        <div class="header__line header__line_js header__line_2">-</div>
        <div class="header__line header__line_js header__line_2">-</div>
        <div class="header__line header__line_js header__line_2">-</div>
      </div>
      <div class="header-menu header-menu_js">
        <nav class="header-menu__nav">
          <div class="header-menu__link"><a href="#" class="header-menu__link-item">OUR STORY</a></div>
          <div class="header-menu__link"><a href="#" class="header-menu__link-item">SERVICES</a></div>
          <div class="header-menu__link"><a href="#" class="header-menu__link-item">FAQ</a></div>
          <div class="header-menu__link"><a href="#" class="header-menu__link-item">CONTACT</a></div>
        </nav>
        <button class="header-menu__button">
          SCHEDULE APPOINTMENT
        </button>
        @@include('./net-links.html')
      </div>
    </div>
  </div>
</div>