<div class="net-links">
    <a href="#" class="net-links__link"><img data-src="./img/link1.png" alt="link1"></a>
    <a href="#" class="net-links__link"><img data-src="./img/link2.png" alt="link2"></a>
    <a href="#" class="net-links__link"><img data-src="./img/link3.png" alt="link3"></a>
    <a href="#" class="net-links__link"><img data-src="./img/link4.png" alt="link4"></a>
</div>