<div class="services">

    <div class="container">
        <div class="services__content">
            <h2 class="services__title">
                Services
            </h2>
            <div class="services__cards-box">
                <div class="services__cards">
                    <div class="services__card-box">
                        <div class="services__card">
                            <img data-src="./img/services_1.png" class="services__img_1" />
                            <h3 class="services__card-title services__card-title_js">
                                Chiropractic
                            </h3>
                            <p class="services__card-text services__card-text_js">
                                Chiropractic care is a unique science that focuses on restoring and maintaining health,
                                while
                                most other healing arts are designed to treat disease.
                            </p>
                            <div class="services__links">
                                <a href="#" class="services__link-item">Chiropractic Adjustment</a>
                                <a href="#" class="services__link-item">Flexion-distraction</a>
                                <a href="#" class="services__link-item">Thompson</a>
                                <a href="#" class="services__link-item">View All Services</a>
                            </div>
                        </div>
                        <div class="services__card">

                                    <img data-src="./img/services_2.png"  class="services__img_2" alt="services img 2">
                                
                            <h3 class="services__card-title services__card-title_js">
                                Massage
                            </h3>
                            <p class="services__card-text services__card-text_js">
                                Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities and
                                it
                                provides a natural, conservative approach to your health care.
                            </p>
                            <div class="services__links">
                                <a href="#" class="services__link-item">Deep Tissue</a>
                                <a href="#" class="services__link-item">Trigger Point</a>
                                <a href="#" class="services__link-item">Sport Massage </a>
                                <a href="#" class="services__link-item">Myofascial Release</a>
                            </div>
                        </div>
                    </div>
                    <div class="services__card-box center">
                        <div class="services__card">
                            <img data-src="./img/services_3.png" class="services__img_1" />
                            <h3 class="services__card-title services__card-title_js">
                                Acupuncture
                            </h3>
                            <p class="services__card-text services__card-text_js">
                                Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities and
                                it
                                provides a natural, conservative approach to your health care.
                            </p>
                            <div class="services__links">
                                <a href="#" class="services__link-item">Cupping</a>
                                <a href="#" class="services__link-item">Chinese Herbs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>