<div class="testimonials">
    

    <div class="container">
        <div class="testimonials__content">
            <h2 class="testimonials__title">
                Testimonials
            </h2>
            <img src="./img/testimonials.png" alt="" class="testimonials__img">
            <div class="testimonials__slider-window testimonials__slider-window_js js_slider">
                <div class="testimonials__slider">
                    <div class="testimonials__slider-slide">
                        <div class="testimonials__slide-rating">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                        </div>
                        <div class="testimonials__text testimonials__text_js">I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep dasdasd I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep... dasdasd </div>
                        <div class="testimonials__slide-show-more testimonials__slide-show-more_js">
                            View More 1
                        </div>
                        <div class="testimonials__slide-author">
                            Tony D.
                        </div>
                    </div>
                    <div class="testimonials__slider-slide">
                        <div class="testimonials__slide-rating">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                        </div>
                        <div class="testimonials__text testimonials__text_js">Absolutely amazing staff! I will never go anywhere else to get my back and neck fixed! Came in after an auto accident and had me feeling better by the next week! I will recommend to everyone I know!</div>
                        <div class="testimonials__slide-show-more testimonials__slide-show-more_js">
                            View More 2
                        </div>
                        <div class="testimonials__slide-author">
                            Christopher C.
                        </div>
                    </div>
                    <div class="testimonials__slider-slide">
                        <div class="testimonials__slide-rating">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                        </div>
                        <div class="testimonials__text testimonials__text_js">I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep... dasdasd
                        </div>
                        <div class="testimonials__slide-show-more testimonials__slide-show-more_js">
                            View More 3
                        </div>
                        <div class="testimonials__slide-author">
                            Tony D.
                        </div>
                    </div>
                    <div class="testimonials__slider-slide">
                        <div class="testimonials__slide-rating">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                        </div>
                        <div class="testimonials__text testimonials__text_js">
                            I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped
                            me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I
                            know what not to do so I can keep... dasdasd
                        </div>
                        <div class="testimonials__slide-show-more testimonials__slide-show-more_js">
                            View More 4
                        </div>
                        <div class="testimonials__slide-author">
                            Tony D.
                        </div>
                    </div>
                    <div class="testimonials__slider-slide">
                        <div class="testimonials__slide-rating">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                        </div>
                        <div class="testimonials__text testimonials__text_js">
                            I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped
                            me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I
                            know what not to do so I can keep... dasdasd
                        </div>
                        <div class="testimonials__slide-show-more testimonials__slide-show-more_js">
                            View More 5
                        </div>
                        <div class="testimonials__slide-author">
                            Tony D.
                        </div>
                    </div>
                    <div class="testimonials__slider-slide">
                        <div class="testimonials__slide-rating">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                        </div>
                        <div class="testimonials__text testimonials__text_js">
                            I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped
                            me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I
                            know what not to do so I can keep... dasdasd
                        </div>
                        <div class="testimonials__slide-show-more testimonials__slide-show-more_js">
                            View More 6
                        </div>
                        <div class="testimonials__slide-author">
                            Tony D.
                        </div>
                    </div>
                    <div class="testimonials__slider-slide">
                        <div class="testimonials__slide-rating">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                            <img class="testimonials__slide-star" data-src="./img/star.png" alt="">
                        </div>
                        <div class="testimonials__text testimonials__text_js">
                            I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped
                            me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I
                            know what not to do so I can keep... dasdasd
                        </div>
                        <div class="testimonials__slide-show-more testimonials__slide-show-more_js">
                            View More 7
                        </div>
                        <div class="testimonials__slide-author">
                            Tony D.
                        </div>
                    </div>
                </div>
                <div class="testimonials__slider-menu">
                    <div class="js_previous testimonials__slider-previous_disabled">
                    </div>
                    <div class="js_points testimonials__slider-points">

                    </div>
                    <div class="js_next testimonials__slider-next_enabled">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>