<div class="treatment">
    <div class="container">
        <div class="treatment__content">
            <div class="treatment__img-container">
                <img class="img" data-src="./img/ArticleImg.png" loading="lazy" alt="article">
            </div>
            <div class="article">
                <h2 class="article__title">
                    Comprehensive Pain Treatment
                </h2>
                <p class="article__text">
                    Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic
                    treatment for all ages. We understand that not all bodies are the same and so your chiropractic
                    treatment will be tailored to you. Healthy Spine Family Chiropractic was created for the necessity
                    of custom made chiropractic treatment for all ages. We understand that not all bodies are the same
                    and so your chiropractic treatment will be tailored to you. Healthy Spine Family Chiropractic was
                    created for the necessity of custom made chiropractic treatment for all ages. We understand that not
                    all bodies are the same and so your chiropractic treatment will be tailored to you.
                </p>
                <a href="#" class="article__button">
                    Learn more
                </a>
            </div>
        </div>
    </div>
</div>